.formcard{
    background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}

.factscard{
    background-color: #fc5296;
background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
margin: 1%;
border-radius: 5px;
font-size: larger;
font-weight: bold;
cursor: pointer;
}

.factscard:hover{
    background: rgba(0,0,0,0);
    color: white;
}